.bg {
    background-image: url("background.jpg");
    background-size: cover;
}
.head {
    width: 100%;
    font-size: 27px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
}
.note {
    color: black;
    font-size: 18px;
    line-height: 1;
}
canvas {
    border: dashed 2px orange;
    margin-top: 140px;
    box-shadow: 0px 0px 50px rgb(204, 2, 2);
}